# Java
*.class
*.jar
*.war
*.ear
*.log

# Maven
target/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/

# VS Code
.vscode/

# Mac OS
.DS_Store
#спасаемпул-реквест
# Windows
Thumbs.db

# Allure results (сырые данные)
allure-results/
allure-report/

# Local files
*.local
*.properties